body {
    color: white;
    background: rgb(31, 31, 31);
    font-family: sans-serif;
}

.timer {
    display: flex;
    justify-content: center;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    margin-right: 50px;
}

.value {
    display: flex;
    font-size: 40px;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 117, 255);
    border-radius: 10px;
}